<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<%= link_to 'Add', new_task_path %>

<h2>TODO</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @incompleted_tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td>
        <%= form_with(model: task, local: true) do |form| %>
          <%= form.submit('done') %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Done</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @completed_tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>